* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Menu {
  display: flex;
  justify-content: flex-end;
}

.navbar-collapse ul {
  display: flex;
  flex-direction: column;
}
.navbar-collapse ul li {
  text-align: right;
  padding-right: 5px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #406d86;
  position: sticky;
  z-index: 3;
  top: 0;
}

.Logo {
  width: 100%;
  margin-left: 10px;
}
.Logo a {
  text-decoration: none;
  color: #f5f5f5;
}

.container-fluid {
  padding-right: 0;
}

.BarraNav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.BarraNav li a {
  color: #f5f5f5;
}

footer {
  display: flex;
  background-color: #406d86;
  color: #f5f5f5;
  padding-top: 8px;
}

.Derechos, .Redes {
  width: 100%;
  margin: 10px 15px;
}

.Derechos {
  margin-left: 10px;
}

.Redes {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  column-gap: 15px;
}
.Redes a {
  text-decoration: none;
  color: #f5f5f5;
}

.Inicio {
  color: #f5f5f5;
  padding: 0;
}

.imagen {
  height: 500px;
}

.index {
  text-align: center;
  margin: 20px 200px;
}

.Fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.V1 {
  margin: 20px 20px;
  text-align: center;
}
.V1 h3 {
  margin-bottom: 6px;
}
.V1 iframe {
  width: 450px;
  height: 300px;
  border-radius: 3%;
}
.V1 iframe:hover {
  transform: scale(1.05);
  animation-duration: 5s;
}
.V1 p {
  margin-top: 4px;
}

/* SERVICIOS */
.grid-prueba {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "h1 h1 h1 h1 h1" "img1 img1 p2 p2 box" "img1 img1 p2 p2 box" "p3 p3 img2 img2 box" "p3 p3 img2 img2 box" "img3 img3 p4 p4 box" "img3 img3 p4 p4 box";
  margin-bottom: 50px;
}

.gridhp1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  grid-area: h1;
  text-align: center;
}
.gridhp1 h1 {
  margin-bottom: 30px;
}

.gridimg1 {
  grid-area: img1;
  display: flex;
  align-items: center;
  width: 100%;
}

.gridp2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  grid-area: p2;
  padding: 0 20px;
}

.gridimg2 {
  grid-area: img2;
  display: flex;
  align-items: center;
  width: 100%;
}

.gridp3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  grid-area: p3;
  padding: 0 20px;
}

.gridimg3 {
  grid-area: img3;
  display: flex;
  align-items: center;
  width: 100%;
}

.gridp4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  grid-area: p4;
  padding: 0 20px;
}

.gridbox {
  grid-area: box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gridbox a {
  background-color: #406d86;
  color: #f5f5f5;
  border-radius: 20px;
  margin: 0 40px;
  text-decoration: none;
}
.gridbox a:hover {
  color: black;
  background-color: #f5f5f5;
}

/* NOSOTROS */
.Ni1 {
  width: 100%;
  height: 300px;
}

.Nt1 {
  margin-bottom: 15px;
  text-align: center;
}
.Nt1 p {
  margin: 5px 150px;
}

.h2n {
  text-align: center;
}

.Nt2 {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.Nt2 img {
  width: 25%;
  margin: 10px 20px;
}

.Tcn1 {
  margin-bottom: 15px;
  text-align: center;
}
.Tcn1 p {
  margin: 5px 150px;
}

.Tcnf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #406d86;
  color: #f5f5f5;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
}
.Tcnf label {
  display: flex;
  margin-top: 10px;
}
.Tcnf input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
.Tcnf textarea {
  width: 50%;
}

.Cn1 {
  margin-bottom: 15px;
  text-align: center;
}
.Cn1 p {
  margin: 5px 150px;
}

.Cnf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #406d86;
  color: #f5f5f5;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
}
.Cnf label {
  display: flex;
  margin-top: 10px;
}
.Cnf input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
.Cnf textarea {
  width: 50%;
}

@media screen and (max-width: 576px) {
  /* GENERAL */
  .Derechos, .Redes {
    font-size: 60%;
  }
  /* INDEX */
  .index {
    margin: 5px 20px;
  }
  .V1 iframe {
    width: 100%;
  }
  /* NOSOTROS */
  .Nt1 p {
    margin: 5px 70px;
  }
  /* SERVICIOS */
  .mediap {
    padding: 0 25px;
  }
  /* TRABAJA CON NOSOTROS */
  .Tcnf {
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .Tcnf .Tcn1 p {
    margin: 5px 100px;
  }
  /* CONTACTO */
  .Cnf {
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .Cn1 p {
    margin: 5px 100px;
  }
}
@media screen and (max-width: 768px) {
  /* GENERAL */
  .Derechos, .Redes {
    font-size: 75%;
  }
  .Menu {
    display: flex;
    justify-content: end;
  }
  /* INDEX */
  .index {
    margin: 15px 100px;
  }
  /* TRABAJA CON NOSOTROS */
  .Tcnf {
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
  }
  /* CONTACTO */
  .Cnf {
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*# sourceMappingURL=estilos.css.map */
