.Tcn1{
    margin-bottom: 15px;
    text-align: center;
}
.Tcn1 p{
    margin: 5px 150px;
}
.Tcnf{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $fondoSec;
    color: $fuenteCSec;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
}
.Tcnf label{
    display: flex;
    margin-top: 10px;
}
.Tcnf input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}
.Tcnf textarea{
    width: 50%;
}