/* NOSOTROS */
.Ni1{
    width: 100%;
    height: 300px;
}
.Nt1{
    margin-bottom: 15px;
    text-align: center;
}
.Nt1 p{
    margin: 5px 150px;
}
.h2n{
    text-align: center;
}
.Nt2{
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.Nt2 img{
    width: 25%;
    margin: 10px 20px;
}